@import '~@fluentui/react/dist/sass/References.scss';

.requests {
	width: 100%;
	font-size: small;
	table {
		border-top: 1px solid rgb(225, 225, 225);
		border-bottom: 1px solid rgb(225, 225, 225);
		border-collapse: collapse;
		width: 100%;
	}
	td,
	th {
		border-top: 1px solid rgb(225, 225, 225);
		border-bottom: 1px solid rgb(225, 225, 225);
		text-align: left;
		padding: 8px;
	}
	.icon {
		text-align: center;
		button {
			all: unset;
			cursor: pointer;
		}
		button:focus {
			outline: revert;
		}
	}
}
